body {
  color: #333;
  font-family: "Arial";
  font-size: 16px;
  text-align: left;
}

.container {
  border: 1px solid #DDD;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  width: 70%;
}

.header {
  background: #33A;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.5);
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem;
}

.header .tagline {
  font-size: 0.8rem;
  font-weight: normal;
  padding: 0 0 0 1rem;
}

.post {
  padding: 1rem;
}

.container h1 {
  font-size: 1.5rem;
}

.footer {
  background: #777;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
}
